.cool-form {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20px 20px 10px 10px;
}

.section-button {
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.section-button.selected {
    background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}
